<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The best shop-basket</title>
    <script type="text/javascript" src="js/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/index.js"></script>		
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="left">
		<% for(var i = 0; i < products.length; i++) {%>
			<div class="product-container border">
				<h2>
					<%=products[i].name%>
				</h2>
				<div>
					<span>Price:</span>
					<span><%=products[i].price%></span>
				</div>
				<button data-product-id="<%=i%>" class="js_add-to-cart">Add to Cart</button>
			</div>
		<% } %>
	</div>
	<div class="basket-container left border">    
        <h2>Basket</h2>
		<div class="basket-items">
		
		</div>
		<button class="js_place-order hide">
		    Place Order
		</button>
	</div>
</body>
</html>
<html>
	
	<body>

		

		</div>
</html>
