body{
    font-family: Helvetica;
}
.hide {
	display:none;
}
.product-container {
	margin: 5px;
	width:200px;
	padding: 5px;
}
.left {
	float:left
}

.border {
	border: 2px solid;
}

.basket-container,.orders-container {
	margin: 5px;
	min-height: 100px;
	min-width : 200px;
    padding:5px;
}
.basket-container{
    position:fixed;
    top:0px;
    right:0px;
}
h2{
text-align : center;
}

.product-buttons{
	margin:5px;
}

.new-product-container{
	background-color:#ececec
}
.basket-item{
    margin-top:5px;
}
div.action{
    float:right;
}
.basket-item div.action input[type="number"]{
    width:40px;
}
ul{
    list-style: none;
    margin:0px;
}
